@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-truncate-2-line {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}